<template>
    <div class="card">
    <header class="card-header">
        <p class="card-header-title">
          {{ post.title }}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {{ post.body }}
        </div>
    </div>
    </div>
</template>

<script lang="ts">
import Post from '../models/Post';
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Api extends Vue {
  @Prop() private post!: Post;
  
}
</script>